body {
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}
.container {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  border: none;
  padding: 10px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  color: #4a4a4a;
  box-shadow: 0 5px 30px rgb(22, 89, 233, 0.4);
}
span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  cursor: pointer;
}
.fa-eye {
  color: #7a797e;
  font-size: 18px;
}
